.card {
  background: rgba(0, 0, 0, 0.3);
  /* backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px); */
  /* border-radius: 30px; */
  border: 1px solid transparent;
  color: white;
  padding: 1em;

  max-width: 100%;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}
