#root {
  height: 100vh;
  overflow: hidden;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  border: 3px solid blue;
}

header {
  border: 3px solid black;

  flex: 0, 0, auto;
  text-align: center;
  padding: 1rem;
}

main {
  flex: 1 1 auto;
  background-color: gray;
  padding: 0 1rem;
  overflow: hidden;
}

article {
  border: 2px solid green;
  background-color: green;
  max-height: 100vh;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card {
  border: 1px solid yellow;
  color: white;

  overflow: hidden;

  width: 100%;
  text-align: center;

  border-radius: 1rem;
  margin-bottom: 1rem;
}

.weatherCurrent {
  position: sticky;
  background-color: blue;
  border: 2px solid blue;
}

.currentWeather {
  padding-bottom: 1rem;
  border: 2px solid red;
  width: 100%;
}

.currentDetails {
  border: 1px solid yellow;
  background-color: rgb(43, 41, 41);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.detail {
  padding: 0.5rem;
}

.weatherForcast {
  flex: 1;
  background-color: rgb(131, 16, 247);
  border: 2px solid rgb(131, 16, 247);
  overflow-y: auto;
}

.forcastContainer {
  display: flex;
  overflow: auto;
  border: 3px solid red;
}

.scrollYList {
  flex-direction: column;
}

.forcast-Item {
  border: 1px solid yellow;
}

.hourly {
  width: max-content;
  padding: 0.5rem;
}

.hourly > .time {
  font-weight: 600;
}

.hourly > .icon {
  display: flex;
  font-size: 2rem;
}

@media screen and (min-width: 728px) {
  article {
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-between;
  }
  article > section {
    width: 100%;
  }
  .weatherForcast {
    display: flex;
  }
  .weatherForcast {
    display: flex;
  }
}
